@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: auto;
    padding-top: 100px;
}

h1 {
    font-weight: 400;
}

.container-fluid {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.row {
    flex-grow: 1;
}

main,
nav {
    flex: 1;
}

main {
    padding-top: 0;
}

nav .nav-link.active {
    font-size: 1.2rem;
    font-weight: bold;
}

nav {
    height: 100%;
    background-color: rgb(145, 29, 14);
    color: rgb(255, 255, 255);

}

li {
    text-decoration: none;
}

.nav-link {
    color: rgb(255, 255, 255);
}

.nav-item:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(145, 29, 14)
}

a {
    text-decoration: none;
}

header,
footer {
    color: rgb(145, 29, 14);
    border-color: #6b6b6b;
    background-color: rgb(255, 255, 255);
}

footer {
    margin-top: auto;
}

header {
    background-color: rgb(145, 29, 14);
    color: rgb(255, 255, 255);
}

.about-img {
    transition: transform .5s;
}

.about-img:hover {
    transform: scale(1.1);
}

/* university page */
/* Set background color, padding and margin for the university picture */
.transparent-on-hover {
    background-color: #fff;
    padding: 20px;
    margin-top: 20px;
    position: relative;
}

/* Set opacity for the university picture */
.transparent-on-hover img {
    opacity: 1;
    transition: opacity 0.5s;
}

/* Set opacity to 0.2 on hover */
.transparent-on-hover:hover {
    opacity: 0.2;
}

/* Set position and opacity for the overlay text */
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

/* Set opacity to 1 on hover */
.transparent-on-hover:hover .overlay-text {
    opacity: 1;
}